venv/
__pycache__/
.env

__pycache__/
*.pyc

# Logs
logs/
*.log

# Ignorar TODOS los JSON de datos
data/*.json

# PERMITIR SOLO los ejemplos (IMPORTANTE: va después)
!data/*.example.json


# Sistema / editor
.vscode/
.DS_Store
Thumbs.db