# Entorno virtual
venv/
.env

__pycache__/
*.pyc

# Logs
logs/
*.log

# Ignorar datos reales
data/*.json

# PERMITIR SOLO los ejemplos 
!data/*.example.json

# Ignorar backups 
data/backups/


# Sistema / editor
.vscode/
.DS_Store
Thumbs.db
